<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>ONINS</title>
  <link rel="stylesheet" href="index.css">
  <img id="pellet1" src="pellet.png" />
  <img id="pellet2" src="pellet2.png" />
  <img id="static1" src="stuff3.png" />
  <img id="static2" src="stuff4.png" />
  <img id="static3" src="stuff5.png" />
  <img id="static4" src="stuff6.png" />
  <img id="camButton" src="camButton.png" />
  <img id="desk" src="desk.png" />
  <img id="deskNoPower" src="desk_noPower.png" />
  <!-- <img id="cam" src="cam.png" /> -->
  <img id="camOverlay" src="cam_overlay.png" />
  <img id="map" src="map.png" />
  <img id="doorPellet1" src="doorPellet1.png" />
  <img id="doorPellet2" src="doorPellet2.png" />
  <img id="doorPellet3" src="doorPellet3.png" />
  <img id="pellet1Bedroom" src="pellet1_bedroom.png" />
  <img id="pellet2Bedroom" src="pellet2_bedroom.png" />
  <img id="pellet3Bedroom" src="pellet3_bedroom.png" />
  <img id="pellet1MainHall" src="pellet1_mainHall.png" />
  <img id="pellet2MainHall" src="pellet2_mainHall.png" />
  <img id="pellet1LeftHall" src="pellet1_leftHall.png" />
  <img id="pellet2LeftHall" src="pellet2_leftHall.png" />
  <img id="pellet3LeftHall" src="pellet3_leftHall.png" />
  <img id="pellet4LeftHall" src="pellet4_leftHall.png" />
  <img id="pellet1MiddleHall" src="pellet1_middleHall.png" />
  <img id="pellet2MiddleHall" src="pellet2_middleHall.png" />
  <img id="pellet3MiddleHall" src="pellet3_middleHall.png" />
  <img id="pellet1RightHall" src="pellet1_rightHall.png" />
  <img id="pellet2RightHall" src="pellet2_rightHall.png" />
  <img id="pellet3RightHall" src="pellet3_rightHall.png" />
  <img id="pellet4RightHall" src="pellet4_rightHall.png" />
</head>
<body>
  <center>
    <div id="container" class="container">
      <p class="title">One Night is Not Scary</p>
      <div id="gameContainer" class="gameContainer">
        <div id="gameContent" class="gameContent">
        </div>
      </div>
      <div id="start">
        <p id="startText">Start</p>
      </div>
    </div>
  </center>
  <script src="index.js" charset="utf-8"></script>
</body>
</html>
