<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>ONINS</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <center>
    <div id="container" class="container">
      <p class="title">Five Chapters at Midnight</p>
      <!-- <p class="subtitle">The Hut of Birds</p> -->
      <div id="gameContainer" class="gameContainer">
        <div id="gameContent" class="gameContent">
        </div>
      </div>
      <div id="start">
        <p id="startText">Start</p>
      </div>
    </div>
  </center>
  <script src="index.js" charset="utf-8"></script>
</body>
</html>
